<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.bbs.mapper.QuestionMapper">
    <resultMap id="questionMap" type="com.ly.bbs.entity.Question">
        <id property="id" column="id"></id>
        <result property="title" column="title"></result>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="creator" column="creator"/>
        <result property="commentCount" column="comment_count"/>
        <result property="viewCount" column="view_count"/>
        <result property="likeCount" column="like_count"/>
        <result property="tag" column="tag"/>
    </resultMap>

    <insert id="insertQuestion" >
        insert into question (title,description,create_time,update_time,creator,tag) values (#{title},#{description},now(),now(),#{creator},#{tag})
    </insert>
    <select id="listQuestion" resultMap="questionMap">
        select <include refid="all"/> from question where creator!=41 order by update_time desc
    </select>
    <sql id="all">
        id,title,description,create_time,update_time,creator,comment_count,view_count,like_count,tag
    </sql>
    <select id="listQuestionByCreator" resultMap="questionMap">
        select <include refid="all"/> from question where creator = #{id}
    </select>
    <select id="selectQuestionById" resultMap="questionMap">
        select <include refid="all"/> from question where id = #{id}
    </select>
    <update id="updateLikeCount">
        update question  set like_count=like_count+1 where id=#{id};
    </update>
    <update id="updateViewCount">
        update question set view_count = view_count+1 where id = #{id}
    </update>
    <update id="updateTime">
        update question set update_time = now() where id=#{id}
    </update>
    <select id="selectQuestionByTag" resultMap="questionMap">
        select <include refid="all"/> from question where tag like concat ('%',#{tag},'%') and id!= #{questionId} order by view_count desc limit 0,10;
    </select>
    <select id="listQuestionBySearch" resultMap="questionMap">
        select <include refid="all"/> from question where title like concat('%',#{searchStr},'%')
    </select>
    <select id="listQuestionByHotTag" resultMap="questionMap">
        select <include refid="all"/> from question where tag like concat ('%',#{tag},'%') order by view_count
    </select>
    <update id="updateCommentCount">
        update question set comment_count = comment_count+1 where id=#{id}
    </update>
    <select id="listYoungReport" resultMap="questionMap">
        select <include refid="all"/> from question where creator=41 order by create_time desc limit 0,5;;
    </select>

</mapper>