<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.bbs.mapper.UserMapper">
    <resultMap id="userMap" type="com.ly.bbs.entity.User">
        <id property="id" column="id"></id>
        <result property="username" column="username"></result>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="githubId" column="github_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="autograph" column="autograph"/>
        <result property="headImg" column="head_img"/>
    </resultMap>
    <select id="listUser" resultMap="userMap">
      select <include refid="userList"/> from user
    </select>

    <insert id="insertUser">
        insert into user (username,password,name,email,phone,github_id,create_time,update_time) values(#{username},#{password},#{name},#{email},#{phone},#{githubId},now(),now())
    </insert>
    <sql id="userList">
        id,username,password,name,email,phone,github_id,create_time,update_time,autograph,head_img
    </sql>

    <select id="checkGithubUser" resultType="int">
        select count(1) from user where github_id = #{githubId}
    </select>
    <select id="checkUsername" resultType="int">
        select count(1) from user where username = #{username}
    </select>
    <select id="checkEmail" resultType="int">
        select count(1) from user where email = #{email}
    </select>

    <select id="checkPhone" resultType="int">
        select count(1) from user where phone = #{phone}
    </select>
    <select id="selectByUsername" resultMap="userMap">
        select <include refid="userList"/> from user where username = #{username}
    </select>
    <select id="selectByGithubId" resultType="com.ly.bbs.entity.User">
        select <include refid="userList"/> from user where github_id = #{githubId}
    </select>
    <select id="selectById" resultMap="userMap">
        select <include refid="userList"/> from user where id = #{id}
    </select>
    <update id="updateUserImg">
        update user set head_img = #{headImg} where id=#{id}
    </update>
   <update id="updateUser">
       update user set autograph = #{autograph} where id=#{id}
   </update>
</mapper>